# dependencias
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# producción
/build

# archivos misceláneos
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# variables de entorno locales (NUNCA SUBIR A GITHUB)
.env*.local
.env